<table style="text-align: left">
<tr><td>Branch : {{config.git.branch}}</td></tr>
<tr><td>Short : {{config.git.short}}</td></tr>
<tr><td>Long : {{config.git.long}}</td></tr>
<tr><td>Message : {{config.git.message}}</td></tr>
<tr>Tag : {{config.git.tag}}</td></tr>
</table>
