<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Standard Life</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css">
</head>
<body>
    {{{body}}}
</body>
</html>